* {
  font-family: 'Roboto', -apple-system, system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}

.todo {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 750px;
  height: 530px;
  transform: translate(-50%,-50%);
  box-shadow: 1px 2px 20px #ececec;
  border-radius: 10px;
  border: 1px solid #f4f6f8;
  font-size: 14px;

  &__sidebar {
    background: #F4F6F8;
    width: 200px;
    height: 100%;
    border-right: 1px solid #f1f1f1;
    padding: 60px 20px;
  }

  &__list {
    li {
      display: flex;
      align-items: center;
      cursor: pointer;
      padding: 10px 12px;
      margin: 5px;

      &.active {
        background: #FFFFFF;
        box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.04);
        border-radius: 4px;
        padding: 10px 12px;
        cursor: pointer;
      }

      i {
        display: inline-flex;
        margin-right: 10px;
        img {
          opacity: .6;
        }
      }
    }
  }
}